extends layout
block append content
  .page-header
    h1 Сказки про Гебердура
  .list-group
    each tale in tales
      a.list-group-item(href='/tale/{}/'.format(tale['link']))=tale['title']

  p ... и другие
