extends layout

block append head
  title Гебердур

block append content
  .page-header
    h1 Сказки про Гебердура
    small &copy;
      =' '
      a(href="https://plus.google.com/107049450657386701526") Gudez-z-z
      =', '
      a(href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.ru", rel="license") CC BY-NC-ND
  .list-group
    each tale in tales
      a.list-group-item(href='/tale/{}/'.format(tale.link))=tale.title

  p ... и другие
