extends layout

block append head
  title
    =tale.title
    =' - '
    | Гебердур

block append content
  !=tale.render()

  .hidden-print
    hr
    .btn-group.btn-group-justified(role="group")

      if tale.prev
        a.btn.btn-default(href='/tale/{}/'.format(tale.prev.link), role="button", rel="prev")
          span.glyphicon.glyphicon-chevron-left
          =' '
          | Предыдущая
      else
        a.btn.btn-default.disabled(href="#")
          span.glyphicon.glyphicon-chevron-left
          =' '
          | Предыдущая

      a.btn.btn-default(href="/", role="button")
        span.glyphicon.glyphicon-chevron-up
        =' '
        | Другие

      if tale.next
        a.btn.btn-default(href='/tale/{}/'.format(tale.next.link), role="button", rel="next")
          | Следующая
          =' '
          span.glyphicon.glyphicon-chevron-right
      else
        a.btn.btn-default.disabled(href="#")
          | Следующая
          =' '
          span.glyphicon.glyphicon-chevron-right
